/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Varela Round', sans-serif, verdana;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	/* border: 1px solid black; */
	width: 880px;
	margin: auto;
	/* border: 1px solid black; */
}

#navbar {
	display: inline-block;
	/* border: 1px solid black; */
	width: 880px;
	position: fixed;
	z-index: 1;
	background-color: white;
}

#navbar ol {
	text-align: center;
	display: inline-block;
	/* border: 1px solid black; */
	width: 693px;
}

#navbar ol li {
	display: inline-block;
}

.home {
	display: inline-block;
	position: absolute;
	border-top: 2px solid white;
	width: 186px;
	height: 100%;
	/* border: 1px solid black; */
	background: url('../../img/logo.png');
	background-repeat: no-repeat;
	background-position: center;
}

#navbar a {
	display: inline-block;
	color: lightgray;
	text-decoration: none;
	/* border: 1px solid black; */
	outline: none;
	padding: 30px 25px;
	border-top: 2px solid white;;
	transition: all 0.3s ease;
}

#navbar a:hover {
	border-top: 2px solid black;
	color: black;
}

#navbar img {
	display: inline-block;
	/* border: 1px solid black; */
}

#about {
	display: inline-block;
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

#about h1 {
	font-size: 42px;
}

#about p {
	font-size: 18px;
	width: 60%;
	margin: auto;
	text-align: justify;
	line-height: 24px;
}


.gray-hr {
	display: inline-block;
	padding-top: 2px;
	border-radius: 2px;
	width: 100%;
	background-color: lightgray;
	margin: 40px 0px 40px 0px;
}

#copyright {
	width: 100%;
	text-align: center;
	padding: 60px 0px;
	margin-bottom: 50px;
}
